/* Media Queries */

/* @media screen and (max-width: 810px){
    .grid-container{
        display: grid;
        grid-template-columns: 50vw 50vw;
        grid-template-rows: 12vh 50vh 50vh 50vw 50vw 8vh;
        justify-content: stretch;
    }
    nav{
        grid-area: 1 / 1 / 2 / 3;
    }
    .somos{
        grid-area: 2 / 1 / 2 / 3;
    }
    #foto1{
        grid-area: 3 / 1 / 4 / 3;
    }
    #foto2{
        grid-area: 4 / 1 / 5 / 2;
    }
    #foto3{
        grid-area: 3 / 2 / 5 / 3;
    }
     */
    /* .caja4{
        display: none;
    } */
 /*    aside{
        grid-area: 5 / 1 / 6 / 3;
    }
    footer{
        grid-area: 6 / 1 / 7 / 3;
    }
    .grid-container img{
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
} */
/* @media screen and (max-width: 768px){
    
}
@media screen and (max-width: 1200px){
    
} */